.components-title-desc {
    text-align: center;
}

.components-title-desc>.title, .components-title-desc>.desc {
    margin: 8px 0;
}

.components-list>.item {
    padding: 8px 0;
    border-bottom: 1px solid #fff2;
}

.components-list>.item:hover {
    background-color: var(--bg-color-solid-hover);
    border-color: transparent;
}

.components-list>.item:active {
    background-color: var(--bg-color-solid-active);
    border-color: transparent;
}

.components-list>.item>.leading {
    padding: 0 8px;
    padding-left: 16px;
}

.components-list>.item>.name {
    margin: 0;
    padding: 0 8px;
}